@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$black: rgb(39, 39, 39);
$blackTransparent: rgba(39, 39, 39,.8);
$white: white;
$darkBlue: rgb(78, 135, 237);
$darkBlueTransparent: rgba(78, 135, 237, .8);
$lightBlue: rgb(108, 194, 242);
$lightBlueTransparent: rgba(108, 194, 242, .9);
$lightGreen: rgb(108, 229, 185);
$darkGreen: rgb(84, 188, 166);
$lightGrey: rgb(245, 245, 245);
$darkGrey:rgb(224, 224, 224)