@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$gradient: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4E87ED), color-stop(25%, #6CC2F2), color-stop(75%, #6CE5B9), color-stop(100%, #54BCA6));
$black: rgb(39, 39, 39);
$blackTransparent: rgba(39, 39, 39,.8);

$darkBlue: rgb(78, 135, 237);
$darkBlueTransparent: rgba(78, 135, 237, .8);
$lightBlue: rgb(108, 194, 242);
$lightBlueTransparent: rgba(108, 194, 242, .9);
$lightGreen: rgb(108, 229, 185);
$darkGreen: rgb(84, 188, 166);
$lightGrey: rgb(245, 245, 245);
$darkGrey: rgb(224, 224, 224);

$white: white;
$semi-transparent-white: rgba(255, 255, 255, .7);
$text-color: #707070;
$link-color: #68B9D2;