.ascii-thumbnail {
  display: block;

  .ascii-background {
    position: relative;
    background-size: cover !important;

    * {
      @extend .fill-element;
    }

    .ascii-foreground {
      @extend .link-text;
      @extend .center;
      display: flex;
      text-align: center;
      background: $semi-transparent-white;
      position: absolute;
      bottom: 0;
      height: 20%;
      width: 100%;

    }
  }

}
