.wt-ascii-quote-container {
  @extend .center;
  display: grid;
  grid-template-rows: 1fr 1fr;

  #quote-canvas {
    align-self: start;

  }

  .wt-photo-retake {
    width: 100%;
  }

  .wt-microphone {
    width: 15vw;
    height: 15vw;
    background: url("/images/wt-mic.png");
    background-size: cover;
  }

}
