@import 'base/variables';
@import 'components/container';
@import 'components/views';
@import 'components/start-partial';
@import 'components/camera-partial';
@import 'components/selection-partial';
@import 'components/ascii-thumbnail';

#video {
  display: none;
}

.center {
  align-items: center;
  justify-content: center;
}

.full-page {
  width: 100vw;
  height: 100vh;
}

* {
  color: $text-color;
  font-family: 'Roboto';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.link-text {
  color: $link-color;
}

.uppercase {
  text-transform: uppercase;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}

a:visited {
  color: $white;
}
